# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Code Editors
/.idea
/.vscode
/*.csproj
/*.sln
*.swp
*.vcxproj.user

# Unity
/Library
/Logs
/Temp
*.dll
*.onnx
ITCs_prototype_v1_Data/
MonoBleedingEdge/
*.exe